altair
asttokens
attrs
backcall
blinker
branca
cachetools
certifi
cftime
charset-normalizer
click
colorama
contourpy
cx-Oracle
cycler
decorator
et-xmlfile
executing
f90nml
folium
fonttools
gitdb
GitPython
idna
imageio
ipython
Jasper
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
llvmlite
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
netCDF4
numba
numpy
openpyxl
packaging
pandas
parso
pickleshare
Pillow
plot
prompt-toolkit
protobuf
pure-eval
pyarrow
pydeck
Pygments
PyKrige
pyparsing
pyproj
pyshp
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
scikit-gstat
scikit-learn
scipy
six
smmap
sridentify
stack-data
streamlit
streamlit_folium
tenacity
termcolor
threadpoolctl
toml
toolz
tornado
tqdm=
traitlets
typing
typing_extensions
tzdata
urllib3
watchdog
wcwidth
xarray
xyzservices
